@model IEnumerable<ExtremeInsiders.Entities.User>

<h1>Пользователи</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Имя
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Дата регистрации
            </th>
            <th>
                Тел. номер
            </th>
            <th>
                Роль
            </th>
            <th>
                Культура
            </th>
            <th>
                Валюта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSignUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.Key)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
