@model IEnumerable<ExtremeInsiders.Entities.User>

<h1>Пользователи</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSignUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSignUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
