@using ExtremeInsiders.Entities
@using ExtremeInsiders.Helpers
@model IEnumerable<ExtremeInsiders.Entities.Video>

<h1>Видео</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Название
        </th>
        <th>
            Дата создания
        </th>
                        <th>
                                    Доп. плата
                                </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfCulture(Culture.Russian).Content.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
                        <td>
                            @(item.IsPaid ? "Да" : "Нет")
                        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>