@using ExtremeInsiders.Data
@using ExtremeInsiders.Entities
@using ExtremeInsiders.Helpers
@model ExtremeInsiders.Entities.SubscriptionPlan
@inject ApplicationContext _db;

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>План подписки</h4>
<hr/>
<div class="row justify-content-between">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input readonly asp-for="Id" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Длительность(в днях) - @Model.Duration.TotalDays</label>
                <p>Новая длительность</p>
                <input name="durationInDays" type="number" min="0" step="1" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Цвет</label>
                <input asp-for="Color" type="color" class="form-control"/>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </div>
            <div>
                <a asp-action="Index">Назад к списку</a>
            </div>
        </form>
    </div>

    <div class="col-md-8 ">
        <h4>Локализации</h4>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Культура
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        Название
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _db.Cultures.ToList())
                {
                    var matchedTranslation = Model.Translations.FirstOrDefault(x => x.CultureId == item.Id);
                    if (matchedTranslation != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => matchedTranslation.Culture.Key)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => matchedTranslation.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => matchedTranslation.Name)
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="SubscriptionPlanTranslation" asp-action="Edit" asp-route-id="@matchedTranslation.Id">Изменить</a> |
                                <a asp-area="Admin" asp-controller="SubscriptionPlanTranslation" asp-action="Delete" asp-route-id="@matchedTranslation.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Key)
                            </td>

                            <td>
                                <a asp-area="Admin" asp-controller="SubscriptionPlanTranslation" asp-action="Create" asp-route-baseEntityId="@Model.Id" asp-route-cultureId="@item.Id">Создать</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <h4>Цены</h4>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Валюта
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        Цена
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _db.Currencies.ToList())
                {
                    var matchedPrice = Model.Prices.FirstOrDefault(x => x.CurrencyId == item.Id);
                    if (matchedPrice != null)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => matchedPrice.Currency.Key)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => matchedPrice.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => matchedPrice.Value)
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="SubscriptionPlanPrice" asp-action="Edit" asp-route-id="@matchedPrice.Id">Изменить</a> |
                                <a asp-area="Admin" asp-controller="SubscriptionPlanPrice" asp-action="Delete" asp-route-id="@matchedPrice.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Key)
                            </td>

                            <td>
                                <a asp-area="Admin" asp-controller="SubscriptionPlanPrice" asp-action="Create" asp-route-baseEntityId="@Model.Id" asp-route-currencyId="@item.Id">Создать</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
            <p style="font-style: italic; color: darkgrey">* Сущность является платной если задана хотя-бы одна цена в любой валюте</p>
            <p style="font-style: italic; color: darkgrey">** Для корректной работы во всех регионах нужно обязательно указывать цены во всех доступных валютах</p>

        </div>
    </div>
</div>